<div class="jumbotron text-center text-light" id="signup-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="signup-title">Let's begin!</h1>
      </div>
      <div class="col-lg-4 col-lg-push-1">
        <h1 class="text-center m-5">Signup</h1>
        <hr />
        <%= render "form", btn_msg: "Signup",btn_type: "btn-success mb-5" %>
      </div>
    </div>
  </div>
</div>
