.jumbotron {
  background: image-url('home.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 30%;
  margin-bottom: 0;
}

.home-title {
  text-align: center;
  font-size: 6.4em;
  color: #fff;
}

.btn-signup {
  border-radius: 25px;
  box-shadow: 0 3px 0 0 #007299;
}

.btn-signup.raised:active, .btn-signup.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.navbar-collapse {
  display: inline;
}

.home-title,
.section-heading,
.signup-title {
  font-family: 'Rock Salt', cursive;
}

#signup-page {
  background: image-url('signup.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}

.signup-title {
  padding: 0 80px 50px;
  font-size: 6rem;
}

@media screen and (max-width: 530px) {
  .signup-title {
    padding: 10%;
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 800px) {
  .home-title {
    text-align: center;
    font-size: 4em;
  }
  .user-list {
    margin-top: 20px;
  }
  .card-header {
    text-align: center;
  }
  tbody {
    vertical-align: middle;
  }
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: center;
  }
  table td:before {
    content: attr(aria-label);
    float: left;
  }
}

@media screen and (max-width: 460px) {
  .home-title {
    font-size: 1.8em;
  }
}
